<div class="main">
    <div class="top">
        <h1 style="margin: 0%; color:white;"><b>Flipkart</b></h1>
    </div>
    <div class="middle">
        <div class="left">
            <input class="text" type="text" placeholder="Search">&nbsp;
            <button class="btn2">Only Free Delivery</button><br><br>
            <button class="btn">Price Low To High</button>
            <button class="btn">Price High To Low</button>
            <button class="btn">Rating Low To High</button>
            <button class="btn">Rating High To Low</button><br><br>
            <button class="btn3">Apply 50% Discount</button>&nbsp;&nbsp;
            <button class="btn4">Price With Delivery Charges</button><br><br>
            <button class="btn5">Total Price</button>&nbsp;&nbsp;
            <button class="btn6">Total Cart Itmes</button>
        </div>
        <div class="right">
            <label>Name:</label>&nbsp;
            <input class="text" type="number"><br><br>
            <label>Price:</label>&nbsp;&nbsp;
            <input class="text" type="number"><br><br>
            <label>Rating:</label>&nbsp;
            <input class="text" type="number"><br><br>
            <label>Free Delivery</label>
            <input type="radio">Yes
            <input type="radio">No <br><br>
            <button class="btn7">Add To Cart</button>
        </div>
    </div>
    <div class="bottom">
        <table>
            <tr>
                <th>S.No</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Rating</th>
                <th>Free Delivery</th>
                <th>Actions</th>
            </tr>
        </table>
    </div>  
</div>